In [1]:
#ex1
print("Hello World")

Hello World

In [2]:
#ex3
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [3]:
#This is a comment

In [4]:
#ex2
"""This is a comment
 written in more 
 than just one line"""

'This is a comment\n written in more \n than just one line'

In [5]:
#ex1
carname = "Volvo"

In [6]:
#ex2
x = 50

In [7]:
#ex3
x = 5
y = 10
print(x + y)

15

In [8]:
#ex4
x = 5
y = 10
z = x + y
print(z)

15

In [9]:
#ex5
mtfirst_name = "John"

In [10]:
#ex6
x = y = z = "Orange"

In [11]:
#ex7
def myfunc():
    global x
    x = "fantastic"

In [12]:
#ex1
x = 5
print(type(x))

<class 'int'>

In [13]:
#ex2
x = "Hello World"
print(type(x))

<class 'str'>

In [14]:
#ex3
x = 20.5
print(type(x))

<class 'float'>

In [15]:
#ex4
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [16]:
#ex5
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [18]:
#ex6
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [19]:
#ex7
x = True
print(type(x))

<class 'bool'>

In [20]:
#ex1
x = 5
x = float(x)

In [21]:
#ex2
x = 5.5
x = int(x)

In [22]:
#ex3
x = 5
x = complex(x)

In [23]:
#ex1
x = "Hello World"
print(len(x))

11

In [24]:
#ex2
txt = "Hello World"
x = txt[0]

In [25]:
#ex3
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [26]:
#ex4
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [27]:
#ex5
txt = "Hello World"
txt = txt.upper()

In [28]:
#ex6
txt = "Hello World"
txt = txt.lower()

In [29]:
#ex7
txt = "Hello World"
txt = txt.replace("H", "J")

In [30]:
#ex8
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36